*
  margin: 0
  padding: 0

a
  text-decoration: none

.header
  width: 700px
  padding-bottom: 30px
  display: flex
  align-content: center
  justify-content: space-between
  margin: 0 auto
  & a
    font-size: 1.5em
    text-decoration: none

.content
  width: 700px
  margin: 0 auto
  font-size: 1.5em

.task
  padding-bottom: 30px

.solution
  margin: 30px

.main
  display: flex
  flex-direction: column
  & a
    margin: 10px

.task__table td
  vertical-align: top
  padding: 5px

.chessboard
  text-align: center

  &__cell
    height: 70px
    width: 70px
    border: 1px solid black

.black
  background-color: black

.white
  background-color: white

.goods
  display: flex
  justify-content: space-between
  align-items: center
  & div
    display: flex
    align-items: center
  & input
    width: 50px
    padding-left: 5px
    padding-right: 5px
    text-align: center
    font-size: inherit
    appearance: none
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0
  & button
    font-size: inherit
    text-align: center
